pkgbase = linux-t2-bin
	pkgdesc = Prebuilt Linux for T2 Macs
	pkgver = 7.2.6.arch2
	pkgrel = 1.1
	url = https://github.com/NoaHimesaka1873/linux-t2-arch
	arch = x86_64
	license = GPL-2.0-only
	makedepends = libarchive
	noextract = linux-t2-7.2.6.arch2-1-x86_64.pkg.tar.zst
	noextract = linux-t2-headers-7.2.6.arch2-1-x86_64.pkg.tar.zst
	options = !debug
	options = !strip
	source = https://github.com/NoaHimesaka1873/linux-t2-arch/releases/download/v7.2.6.arch2/linux-t2-7.2.6.arch2-1-x86_64.pkg.tar.zst
	source = https://github.com/NoaHimesaka1873/linux-t2-arch/releases/download/v7.2.6.arch2/linux-t2-headers-7.2.6.arch2-1-x86_64.pkg.tar.zst
	sha256sums = b41bf850f160ddc421555e143ff8bc68607eb7ac3387989483d2d1ec5d474ee0
	sha256sums = a82af733c54ae73b768632602a4635e9380f8788031ad0631c8ceeec80c6de79

pkgname = linux-t2-bin
	pkgdesc = Prebuilt Linux kernel and modules for T2 Macs
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-t2-headers-bin: prebuilt headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = linux-t2=7.2.6.arch2-1
	provides = linux=7.2.6.arch2
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	conflicts = linux-t2
	conflicts = apple-gmux-t2-dkms-git
	replaces = apple-gmux-t2-dkms-git
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-t2-headers-bin
	pkgdesc = Prebuilt headers and scripts for building modules for the T2 Mac kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	provides = linux-t2-headers=7.2.6.arch2-1
	provides = LINUX-HEADERS
	provides = linux-headers
	conflicts = linux-t2-headers
