pkgbase = linux-t2-bin
	pkgdesc = Prebuilt Linux for T2 Macs
	pkgver = 7.2.3.arch1
	pkgrel = 1.1
	url = https://github.com/NoaHimesaka1873/linux-t2-arch
	arch = x86_64
	license = GPL-2.0-only
	makedepends = libarchive
	noextract = linux-t2-7.2.3.arch1-1-x86_64.pkg.tar.zst
	noextract = linux-t2-headers-7.2.3.arch1-1-x86_64.pkg.tar.zst
	options = !debug
	options = !strip
	source = https://github.com/NoaHimesaka1873/linux-t2-arch/releases/download/v7.2.3.arch1/linux-t2-7.2.3.arch1-1-x86_64.pkg.tar.zst
	source = https://github.com/NoaHimesaka1873/linux-t2-arch/releases/download/v7.2.3.arch1/linux-t2-headers-7.2.3.arch1-1-x86_64.pkg.tar.zst
	sha256sums = 240abd612c9d4fa4c879fe375ac790ffc643534bf1aeac5d031ec97642657dcb
	sha256sums = df145255104b326e87e0ea8c72a08ac5db8363e786f6db5d6a4732a2c1d25288

pkgname = linux-t2-bin
	pkgdesc = Prebuilt Linux kernel and modules for T2 Macs
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-t2-headers-bin: prebuilt headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = linux-t2=7.2.3.arch1-1
	provides = linux=7.2.3.arch1
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	conflicts = linux-t2
	conflicts = apple-gmux-t2-dkms-git
	replaces = apple-gmux-t2-dkms-git
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-t2-headers-bin
	pkgdesc = Prebuilt headers and scripts for building modules for the T2 Mac kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	provides = linux-t2-headers=7.2.3.arch1-1
	provides = LINUX-HEADERS
	provides = linux-headers
	conflicts = linux-t2-headers
